@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #38383d;
        color: #cccccc;
    }

    a {
        color: #649cd4 !important;
    }

    a:hover {
        color: yellow !important;
    }
}

@media (prefers-color-scheme: light) {
    a {
        color: #007dd1;
    }

    a:hover {
        color: red !important;
    }

    section {
        background-color: white !important;
    }
}

a:hover {
    border: 1px solid gray;
    border-radius: 5px;
}

html {
    background: rgb(236, 236, 236);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2163%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsRadialGradient2164)'%3e%3c/rect%3e%3cpath d='M1257.2052943715778 258.52463358906147L1369.6135126531085 198.75612373250937 1309.8450027965564 86.34790545097877 1197.4367845150257 146.11641530753084z' fill='rgba(255%2c 255%2c 255%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1147.6407627993897 204.80734781230376L1275.9123716982224 207.04633707407976 1149.8797520611656 76.53573891347105z' fill='rgba(255%2c 255%2c 255%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M933.4845114709568 346.75871335306255L969.2656636070944 392.55649961993936 1020.0717669393408 315.98587828229444z' fill='rgba(255%2c 255%2c 255%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M801.145%2c751.569C857.581%2c751.038%2c907.525%2c714.753%2c932.825%2c664.304C955.81%2c618.471%2c942.565%2c565.83%2c916.407%2c521.732C890.894%2c478.723%2c851.055%2c445.422%2c801.145%2c442.315C745.337%2c438.841%2c686.998%2c457.823%2c658.02%2c505.645C628.15%2c554.939%2c636.113%2c617.005%2c665.105%2c666.821C693.908%2c716.312%2c743.886%2c752.107%2c801.145%2c751.569' fill='rgba(255%2c 255%2c 255%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M367.737%2c532.626C407.355%2c533.029%2c438.295%2c502.688%2c458.142%2c468.398C478.035%2c434.029%2c487.479%2c392.89%2c468.943%2c357.771C449.266%2c320.491%2c409.846%2c295.172%2c367.737%2c297.114C328.255%2c298.935%2c299.599%2c331.277%2c281.504%2c366.415C265.118%2c398.235%2c263.979%2c434.821%2c280.462%2c466.591C298.469%2c501.298%2c328.639%2c532.228%2c367.737%2c532.626' fill='rgba(255%2c 255%2c 255%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M428.51 522.41 a103.84 103.84 0 1 0 207.68 0 a103.84 103.84 0 1 0 -207.68 0z' fill='rgba(255%2c 255%2c 255%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M914.23 197.32 a141.69 141.69 0 1 0 283.38 0 a141.69 141.69 0 1 0 -283.38 0z' fill='rgba(255%2c 255%2c 255%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M698.9297955621928 90.2262146816623L770.3102034820612 152.27625662631627 827.6950624391079 14.180623774186614z' fill='rgba(255%2c 255%2c 255%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2163'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='772.53' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2164'%3e%3cstop stop-color='rgba(237%2c 237%2c 237%2c 1)' offset='0.03'%3e%3c/stop%3e%3cstop stop-color='rgba(237%2c 237%2c 237%2c 1)' offset='0.11'%3e%3c/stop%3e%3cstop stop-color='rgba(237%2c 237%2c 237%2c 1)' offset='0.41'%3e%3c/stop%3e%3cstop stop-color='rgba(237%2c 237%2c 237%2c 1)' offset='0.7'%3e%3c/stop%3e%3cstop stop-color='rgba(230%2c 230%2c 230%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    height: 100%;
}

* {
    cursor: url(pointer.png) 2 2, pointer;
}

body {
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

a {
    color: #00538b;
    text-decoration: none;
    border: 1px solid transparent;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem
}

p {
    font-size: 18px;
    margin: 1rem 0
}

li {
    margin: 0.4rem 0;
}

li:not(.l1) {
    list-style: square;
}

main>div {
    max-width: 728px;
    margin: 0 auto;
    padding: 4rem 2rem
}

table {
    width: 100%
}

table, th, td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4rem
}

p:hover {
    filter: contrast(500%);
}

code {
    color: white;
    background: black
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem
}

blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem
}

blockquote p {
    margin: 0
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

.l1 {
    font-family: "eb", 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-size: 22px;
    list-style: none;
    text-decoration: underline;
}

h1 {
    font-size: 38px;
    letter-spacing: 0.032em;
    font-weight: 900;
    transition-delay: 500ms;
    transition-duration: 1s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "eb";
    margin-top: 3rem
}

li:not(.l1), p {
    font-family: "eb", "twsung", serif;
    font-display: swap;
    font-size: 18px;
}

span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#quota {
    font-style: italic;
}

small, small>a {
    font-family: "eb", serif;
    color: gray;
    float: right;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    ul {
        padding: 0px;
    }
}