@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #38383d;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(69%2c 69%2c 69%2c 1)'%3e%3c/rect%3e%3cpath d='M1515.93 101.9C1339.69 104.22 1099.81 310.1 842.06 309.1 584.3 308.1 631.01-59.18 505.12-101.3' stroke='rgba(43%2c 43%2c 43%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1584.24 398.88C1449.91 392.28 1318.11 178.71 1103.18 158.08 888.25 137.45 944.52-57.56 862.65-75.71' stroke='rgba(43%2c 43%2c 43%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1719.21 390.52C1614.68 390.27 1513.1 320.52 1307 320.52 1100.89 320.52 1116.78 396.61 894.79 390.52 672.8 384.43 622.89 20.9 482.58-10.22' stroke='rgba(43%2c 43%2c 43%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1521.06 252.03C1363.59 259.1 1244.53 528.08 953.36 526.43 662.2 524.78 576.43 32.13 385.67-7.53' stroke='rgba(43%2c 43%2c 43%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1647.37 206.78C1519.77 207.58 1409.79 327.5 1150.68 324.38 891.58 321.26 813.48-63.21 654-89.05' stroke='rgba(43%2c 43%2c 43%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        color: #cccccc;
    }

    a {
        color: #649cd4 !important;
    }

    a:hover {
        color: yellow !important;
    }
}

@media (prefers-color-scheme: light) {
    a {
        color: #007dd1;
    }

    a:hover {
        color: red !important;
    }

    section {
        background-color: white !important;
    }
}

a:hover {
    border: 1px solid gray;
    border-radius: 5px;
}

html {
    background: rgb(236, 236, 236);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(241%2c 241%2c 241%2c 1)'%3e%3c/rect%3e%3cpath d='M1515.93 101.9C1339.69 104.22 1099.81 310.1 842.06 309.1 584.3 308.1 631.01-59.18 505.12-101.3' stroke='rgba(221%2c 221%2c 221%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1584.24 398.88C1449.91 392.28 1318.11 178.71 1103.18 158.08 888.25 137.45 944.52-57.56 862.65-75.71' stroke='rgba(221%2c 221%2c 221%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1719.21 390.52C1614.68 390.27 1513.1 320.52 1307 320.52 1100.89 320.52 1116.78 396.61 894.79 390.52 672.8 384.43 622.89 20.9 482.58-10.22' stroke='rgba(221%2c 221%2c 221%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1521.06 252.03C1363.59 259.1 1244.53 528.08 953.36 526.43 662.2 524.78 576.43 32.13 385.67-7.53' stroke='rgba(221%2c 221%2c 221%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1647.37 206.78C1519.77 207.58 1409.79 327.5 1150.68 324.38 891.58 321.26 813.48-63.21 654-89.05' stroke='rgba(221%2c 221%2c 221%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    height: 100%;
}

* {
    cursor: url(pointer.png) 2 2, pointer;
}

body {
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

a {
    color: #00538b;
    text-decoration: none;
    border: 1px solid transparent;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem
}

p {
    font-size: 18px;
    margin: 1rem 0
}

li {
    margin: 0.4rem 0;
}

li:not(.l1) {
    list-style: square;
}

main>div {
    max-width: 728px;
    margin: 0 auto;
    padding: 4rem 2rem
}

table {
    width: 100%
}

table, th, td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4rem
}

p:hover {
    filter: contrast(500%);
}

code {
    color: white;
    background: black
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem
}

blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem
}

blockquote p {
    margin: 0
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

.l1 {
    font-family: "eb", 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-size: 22px;
    list-style: none;
    text-decoration: underline;
}

h1 {
    font-size: 38px;
    letter-spacing: 0.032em;
    font-weight: 900;
    transition-delay: 500ms;
    transition-duration: 1s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "eb";
    margin-top: 3rem
}

li:not(.l1), p {
    font-family: "eb", "twsung", serif;
    font-display: swap;
    font-size: 18px;
}

span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#quota {
    font-style: italic;
}

small, small>a {
    font-family: "eb", serif;
    color: gray;
    float: right;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    ul {
        padding: 0px;
    }
}