@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #38383d;
        color: #cccccc;
    }

    a {
        color: #649cd4 !important;
    }

    a:hover {
        color: yellow !important;
    }
}

@media (prefers-color-scheme: light) {
    a {
        color: #007dd1;
    }

    a:hover {
        color: red !important;
    }

    section {
        background-color: white !important;
    }
}

a:hover {
    border: 1px solid gray;
    border-radius: 5px;
}

html {
    background: rgb(236, 236, 236);
    background: linear-gradient(90deg, rgba(236, 236, 236, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(244, 244, 244, 1) 100%);
    height: 100%;
}

* {
    cursor: url(pointer.png) 2 2, pointer;
}

body {
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

a {
    color: #00538b;
    text-decoration: none;
    border: 1px solid transparent;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem
}

p {
    font-size: 18px;
    margin: 1rem 0
}

li {
    margin: 0.4rem 0;
}

li:not(.l1) {
    list-style: square;
}

main>div {
    max-width: 728px;
    margin: 0 auto;
    padding: 4rem 2rem
}

table {
    width: 100%
}

table, th, td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4rem
}

p:hover {
    filter: contrast(500%);
}

code {
    color: white;
    background: black
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem
}

blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem
}

blockquote p {
    margin: 0
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

.l1 {
    font-family: "hwgc", 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-size: 22px;
    list-style: none;
    text-decoration: underline;
}

h1 {
    font-size: 38px;
    letter-spacing: 0.032em;
    font-weight: 900;
    transition-delay: 500ms;
    transition-duration: 1s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "hwgc";
    margin-top: 3rem
}

li:not(.l1), p {
    font-family: "eb", "twsung", serif;
    font-display: swap;
    font-size: 18px;
}

span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#quota {
    font-style: italic;
}

small, small>a {
    font-family: "hwgc", serif;
    color: gray;
    float: right;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    ul {
        padding: 0px;
    }
}