<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#4285f4">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="gray">

    <!-- SEO tags -->
    <meta property=og:title content="白漠流霜">
    <meta name=author content=izfsk>
    <meta name=description content="izfsk's blog and cyber space">
    <meta property=og:description content="izfsk's blog and cyber space">
    <meta property=og:site_name content="白漠流霜">

    <!-- For Apple devices -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="gray">
    <meta name="apple-mobile-web-app-title" content="白漠流霜">

    <!-- Styles -->
    <link rel="stylesheet" href="/resources/css/normalize.css">
    <link rel="stylesheet" href=/resources/css/index/fonts.css>
    <link rel="stylesheet" href=/resources/css/index/index.css>

    <!-- Start -->
    <title>白漠流霜</title>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <script async src="/resources/js/index.js"></script>
</head>

<body>
    <main>
        <header>
            <h1 style="font-family: 'SITENAME';">白漠流霜</h1>
        </header>

        <div id="content">
            <section id="welcome">
                <h3 id="hello">你好。</h3>
                <p>
                    欢迎来到我的站点。要<a id="search" href="/">找些什么</a>吗？
                </p>
            </section>

            <section id="posts">
                <h2>Recent Posts</h2>
                <!--%%RECENTLY%%-->
            </section>

            <section id="misc">
                <h2>Miscellaneous</h2>
                <p>
                    这个站点还存放了一些其他的东西，包括我的<a href="/pages/bookmarks.html">网页书签</a>，一些杂乱的<a href="/pages/fs.html">文件</a>，
                    看过的<a href="/pages/books.html">书</a>和<a href="/pages/movies.html">影视剧</a>，一些乱七八糟的<a
                        href="/pages/ideas.html">胡思乱想</a>。
                </p>
                <p>
                    目前就只有这点东西了，你也可以去<a href="/pages/friends.html">朋友们的站点</a>转转。
                </p>
            </section>

            <section id="about">
                <h2>About</h2>
                <p>
                    搭建和维护个人站点类似于打理花园，哪怕没有人来参观，总还是很有乐趣和成就感的。
                    如果你对这个站点或者对我感兴趣的话，来看看<a href="/pages/readme.html">自述页面</a>吧。
                </p>
            </section>
        </div>
        <footer>
            <section id="lastBuild">
                <h6>Last Build: <code><!--%%BUILDTIME%%--></code></h6>
            </section>

            <section>
                <h6>Copyright&nbsp;©&nbsp;<code>2021-2023 </code>izfsk</h6>
            </section>

            <section id="icons">
                <h6 id="build-id">{BUILD-ID}</h6>
                <div>
                    <!-- 萌备 -->
                    <a href="https://icp.gov.moe/?keyword=20230264"
                        target="_blank"><b>萌</b>ICP备<code>20230264</code></a>

                    <!-- CC BY-NC-SA 协议徽章 -->
                    <a href="https://creativecommons.org/licenses/by-nc-sa/2.5/cn/" target="_blank">
                        <img class="butt" alt="CC BY-NC-SA"
                            src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png">
                    </a>

                    <!-- W3C HTML5 徽章 -->
                    <a href="https://validator.w3.org/nu/?showsource=yes&doc=https%3A%2F%2Fblog.izfsk.top"
                        target="_blank">
                        <img class="butt" alt="HTML5" src="/resources/img/valid_html5_blue.webp">
                    </a>

                    <!-- RSS 订阅 -->
                    <img class="icon" onclick="openRSS()" src="/resources/img/rss.svg" alt="RSS">

                    <!-- Github 源仓库 -->
                    <img class="icon" onclick="openGithub()" src="/resources/img/github.svg" alt="Github">

                    <script>
                        function openGithub() {
                            window.open('https://github.com/izfsk-ium/izfsk-ium.github.io');
                        }
                        function openRSS() {
                            window.open('/rss.xml');
                        }
                    </script>
                </div>
            </section>

            <small id="ForFontGenerator" style="display: none !important;">
                返回搜索站点内容什么也没有找到
            </small>
        </footer>
    </main>
</body>


</html>